@import "bootstrap-sprockets";
@import "bootstrap";

.header1
    {
    color:red;
    text-align: center;
    }

.Header-new
    {
    color:red;
    text-align: center;  
    }

.new
    {
    text-align: center;
    color:rgb(138, 36, 11);
    }

.field
    {
    border-color: rgb(30, 30, 235);
    }
#new
    {
    text-align: center;
    }